# 核心框架
streamlit
langchain==0.1.11
langchain-community==0.0.29
langchain-core==0.1.36
langchain-openai==0.1.1
langchain-zhipu  # 必须添加这个，否则代码会报错 ModuleNotFoundError

# 智谱与基础组件
zhipuai==2.0.1
python-dotenv==1.0.1
pydantic==2.6.3
requests==2.31.0

# 向量数据库与文档处理
chromadb==0.4.14
pymupdf==1.24.0
unstructured==0.12.6
# 建议放宽版本限制，让系统自动寻找匹配 3.10 的版本
rapidocr-onnxruntime

# 其他依赖
fastapi==0.110.0
transformers==4.38.2
websocket_client==1.7.0
markdown==3.6
